<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <!-- 定位：记录标记所在位置 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <!-- 录音：语音备注 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <!-- 拍照：标记照片 -->
    <uses-permission android:name="android.permission.CAMERA"/>
    <!-- Android 12 及以下读取相册 -->
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32"/>
    <!-- Android 13+ 读取相册图片 -->
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES"/>
    <!-- 高德地图 SDK 需要联网取瓦片，并判断网络状态 -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <!-- 应用内检查更新后唤起系统安装器。Android 8 起用户还要在系统设置里
         单独允许本应用「安装未知应用」，代码里会先查、没授权就跳过去。 -->
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES"/>

    <uses-feature android:name="android.hardware.camera" android:required="false"/>
    <uses-feature android:name="android.hardware.location.gps" android:required="false"/>
    <uses-feature android:name="android.hardware.microphone" android:required="false"/>

    <application
        android:label="踩点"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            <!-- Specifies an Android theme to apply to this Activity as soon as
                 the Android process has started. This theme is visible to the user
                 while the Flutter UI initializes. After that, this theme continues
                 to determine the Window background behind the Flutter UI. -->
            <meta-data
              android:name="io.flutter.embedding.android.NormalTheme"
              android:resource="@style/NormalTheme"
              />
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <!-- 高德定位 SDK 必需的后台服务，不声明的话定位起不来 -->
        <service android:name="com.amap.api.location.APSService"/>
        <!-- 把下载好的 APK 交给系统安装器时用。Android 7+ 直接传 file://
             会抛 FileUriExposedException，必须换成 content:// -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.location_marker.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>
        <!-- Don't delete the meta-data below.
             This is used by the Flutter tool to generate GeneratedPluginRegistrant.java -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
        <!-- 高德 Key：值来自 android/amap.properties（不进仓库） -->
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="${AMAP_ANDROID_KEY}" />
    </application>
    <!-- Required to query activities that can process text, see:
         https://developer.android.com/training/package-visibility and
         https://developer.android.com/reference/android/content/Intent#ACTION_PROCESS_TEXT.

         In particular, this is used by the Flutter engine in io.flutter.plugin.text.ProcessTextPlugin. -->
    <queries>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT"/>
            <data android:mimeType="text/plain"/>
        </intent>
        <!-- image_picker 需要查询相机应用 -->
        <intent>
            <action android:name="android.media.action.IMAGE_CAPTURE"/>
        </intent>
        <!-- Android 11+ 起，查询/唤起第三方地图导航需要显式声明这些 scheme -->
        <intent>
            <action android:name="android.intent.action.VIEW"/>
            <data android:scheme="androidamap"/>
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW"/>
            <data android:scheme="baidumap"/>
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW"/>
            <data android:scheme="qqmap"/>
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW"/>
            <data android:scheme="geo"/>
        </intent>
        <package android:name="com.autonavi.minimap"/>
        <package android:name="com.baidu.BaiduMap"/>
        <package android:name="com.tencent.map"/>
    </queries>
</manifest>
